

@import '/variables.scss';
@import'/components.scss';


body {
  background: $background-color;
  font-family: 'Roboto', sans-serif;
  font-weight: $base-font-weight;
  margin: 0 !important;
}

input {
  font-family: 'Roboto', sans-serif;
}

select {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.nav-drawer-opened {
    width: 80vw;
    left: 0;
  }
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}